<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5>About</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <dl class="row">
          <dt class="col-sm-3">Name:</dt>
          <dd class="col-sm-9">Jarell Carlo D. Galura</dd>
          <dt class="col-sm-3">Gender:</dt>
          <dd class="col-sm-9">Male</dd>
          <dt class="col-sm-3">Age:</dt>
          <dd class="col-sm-9"><p>22</p>
          <dt class="col-sm-3">Birthday:</dt>
          <dd class="col-sm-9">December 08, 1999</dd>
          <dt class="col-sm-3 text-truncate">Address:</dt>
          <dd class="col-sm-9">#805 Gumamela Street. GreenHills Village, San Agustin, CSFP</dd>
        
        </dl>
  