<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5>Contacts</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <dl class="row">
            <dt class="col-sm-3">Personal Email:</dt>
            <dd class="col-sm-9">jarellgaluraa@gmail.com</dd>
            <dt class="col-sm-3">Student Email:</dt>
            <dd class="col-sm-9">jdgalura@student.hau.edu.ph</dd>
            <dt class="col-sm-3">Mobile Number:</dt>
            <dd class="col-sm-9"><p>09085780811</p>
            <dt class="col-sm-3">Facebook:</dt>
            <dd class="col-sm-9">Jarell Galura</dd>
          
          </dl>