<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5>Portfolio</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <dl class="row">
            <dt class="col-sm-3">Website Created:</dt>
            <dd class="col-sm-9">boadoskitchen.com</dd>
            <dt class="col-sm-3">Organizations:</dt>
            <dd class="col-sm-9">Code Geeks</dd>
            <dt class="col-sm-3">University:</dt>
            <dd class="col-sm-9"><p>Holy Angel University</p>
            <dt class="col-sm-3">Birthday:</dt>
            <dd class="col-sm-9">December 08, 1999</dd>
          
          </dl>