<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5>Skill Works</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <dl class="row">
            <dt class="col-sm-3">Adobe Application</dt>
            <dd class="col-sm-9">Im good at using Adobe Editing Softwares</dd>
          
            <dt class="col-sm-3">Programming Language</dt>
            <dd class="col-sm-9"><p>Java, Python, Html, PHP</p>
            <dt class="col-sm-3">Personal Skills</dt>
            <dd class="col-sm-9">Leadership, Teamwork, Creativity </dd>

            <dd class="col-sm-9">
              <dl class="row">
                <dt class="col-sm-4"></dt>
                <dd class="col-sm-8"></dd>
              </dl>
            </dd>
          </dl>
